</div>
<footer class="footer">
    <div class="footer-copyright">Copyright © 2018 BookAnyCar All rights reserved.</div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7b266dc332.js" crossorigin="anonymous"></script>

</html>