
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Tushar Rajput</p>
  </div>
</div>
</body>
<script src="https://kit.fontawesome.com/7b266dc332.js" crossorigin="anonymous"></script>
</html>
