<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Book any Car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

<body>
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top ">
        <a href="" class="navbar-brand ms-5">Book Any Car</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li id="nav-home" class="nav-item ms-2 me-2"><a href="/" class="nav-link">Home</a></li>
                <li id="nav-about" class="nav-item ms-2 me-2"><a href="/about" class="nav-link">About us</a></li>
                <li id="nav-earn" class="nav-item ms-2 me-2"><a href="/add-car" class="nav-link">Earn with us</a></li>
                <li class="nav-item ms-2 me-2"><a id="nav-book" href="/cars" class="nav-link">Book Now</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">