<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Book any Car</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <p class="navbar-brand"><i class="fas fa-car"></i> Book Any Car</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">Home</a></li>
          <li id="about"><a href="/about">About us</a></li>
          <li id="contact"><a href="/give-car">Earn with us</a></li>
          <li id="nav-book"><a href="/book-car">Book Now</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
