<section class="why-section-main">
    <h1>Why Book Any Car?</h1>
    <p>The best way to travel to your destination</p>
    <div class="why-section-container">
        <div class="why-card-container">
            <div class="why-card">
                <img src="https://cms-web.olacabs.com/00000000368.jpg">
                <div class="why-card-info">
                    <h3>Cabs for Every Pocket</h3>
                    <p>From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every pocket</p>
                </div>
            </div>
            <div class="why-card">
                <img src="https://cms-web.olacabs.com/00000000370.jpg">
                <div class="why-card-info">
                    <h3>Secure and Safer Rides</h3>
                    <p>Verified drivers, an emergency alert button, and live ride tracking are some of the features that
                        we have in place to ensure you a safe travel experience.</p>
                </div>
            </div>
        </div>

        <div class="why-card-container">
            <div class="why-card">
                <img src="https://cms-web.olacabs.com/00000000382.jpg">
                <div class="why-card-info">
                    <h3>Share and Express</h3>
                    <p>
                        To travel with the lowest fares choose Ola Share. For a faster travel experience we have Share
                        Express on some fixed routes with zero deviations. Choose your ride and zoom away!
                    </p>
                </div>
            </div>
            <div class="why-card">
                <img src="https://cms-web.olacabs.com/00000000371.jpg">
                <div class="why-card-info">
                    <h3>In Cab Entertainment</h3>
                    <p>
                        Play music, watch videos and a lot more with Ola Play! Also stay connected even if you are
                        travelling through poor network areas with our free wifi facility.
                    </p>
                </div>
            </div>
        </div>





    </div>
</section>