<%- include('partials/header'); -%>

<div class="home-intro">
    <h2>Get Any Car on Rent</h2>
</div>
<section class="home-section-main">
    <div>
        <h1> Book a City Taxi to your destination in town</h1>
        <p> Choose from a range of categories and prices</p>
    </div>
</section>
<%- include('partials/about-com');-%>

<%- include('partials/footer'); -%>