.car-card{
    width: 80%;
    border: 2px solid;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: white;
    background-color: #d5d9dc;
    border-radius: 10px;
}
.car-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car-card>div>span{
    margin-right: 5px;
    float: left;
    margin-left: 20px;
}
.car-card>div{
    background-color: #697986;
    padding: 30px;
    border-radius: 40px;
}
.car-card .book-car{
    background-color: #284256;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
}
.car-card .book-car:hover{
    background-color: #3c6c90;
}

.car-img{
    height: 300px;
    width: 300px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-info{
    display: flex;
    justify-content: center;
}
.car-img>img{
    height: 90%;
    margin-top: 45px;
    width: 100%;
    margin-left: 10px;
    
}
.car-about-sec{
    margin-top: 100px;
    font-size: 1.5rem;
}
/* FORM */

form{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #9fa9b3;
    padding: 20px;
    font-size: 1.3rem;
}
form>button{
    margin-top: 30px;
}