#introslide{
    text-align: left;

}
.slide-items{
    display: flex;
}
.slide-items>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-options{
    margin-top: 40vh;
    margin-bottom: 36vh;
}