.why-section-main {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}
.why-card-container {
  display: flex;
}
.why-card {
  display: flex;
  width: 50%;
  background-color: #cafbf1;
  margin: 10px;
  padding: 10px;
  border: 2px solid #94d0c3;
  border-radius: 12px;
}
.why-card > img {
  width: 30%;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
}

@media (min-width: 200px) and (max-width: 600px) {
  .why-card-container {
    flex-direction: column;
  }
  .why-card {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
}
